.drum-pad {
  width: 13rem;
  height: 12rem;
  background-color: #243b67;
  color: #c27dfc;
  font-size: 5rem;
  border-radius: 6px;
  cursor: pointer;
  font-family: "tuman holiday", sans-serif;
  border: none;
  box-shadow: 2px 5px #6e5dcf;
  transition: all 0.1s;
}

.drum-pad:hover {
  color: #eaebed;
}

.drum-pad:active {
  translate: 1px 3px;
  box-shadow: 1px 2px #6e5dcf;
}

@media (max-width: 600px) {
  .drum-pad {
    width: 12rem;
    height: 11rem;
  }
}
