/*
Colors

#243b67
#6e5dcf
#c27dfc
#eaebed

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;
}

body {
  background: linear-gradient(to right, #c27dfc, #6e5dcf);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 800px) {
  html {
    font-size: 37.5%;
  }
}
